/*about-page*/
.about__ten{
	font-size: 2.600rem;
	color: #23aae2;
	letter-spacing: 2px;
}

.about__satClients{
	letter-spacing: 0.7px;
}


.about__get{
	font-size: 1.267rem;
	color: #bdbdbd;
	letter-spacing: 10px;
}

.about__newHome{
	font-size: 2.010rem;
	color: #23aae2;
	letter-spacing: 2px;
}

.about__inBulgaria{
	font-size: 2.010rem;
	letter-spacing: 3px;
}




