@font-face{

font-family: 'Museo Sans Cyrl';

src: url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.eot');

src: url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.eot?iefix') format('eot'),

url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.woff') format('woff'),

url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.ttf') format('truetype'),

url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.svg#webfont') format('svg');

font-weight: 900;

font-style: normal;

}

@font-face{

font-family: 'Museo Sans Cyrl';

src: url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot');

src: url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot?iefix') format('eot'),

url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.woff') format('woff'),

url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.ttf') format('truetype'),

url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.svg#webfont') format('svg');

font-weight: 100;

font-style: normal;

}

@font-face{

font-family: 'Museo Sans Cyrl';

src: url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot');

src: url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot?iefix') format('eot'),

url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.woff') format('woff'),

url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.ttf') format('truetype'),

url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.svg#webfont') format('svg');

font-weight: 100;

font-style: italic;

}



html{
	font-size: 15px;
}

body{
	font-family: 'Museo Sans Cyrl', sans-serif;
	color: #2c3f55;
	overflow-x: hidden;/*побороли горизонтальний скрол коли випирала машина*/
		
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}



section{
	padding: 90px 0 94px 0;
}


*{
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-property: 0.3s;
	-webkit-transition-timing-function: ease;
}
h2{
	margin-top: 0;
	margin-bottom: 0;
}

a, a:hover, a:active, a:focus, 
button, input,
button:hover, button:active, button:focus,
input:active, input:focus{
	text-decoration: none;
	outline: none;
}

.container{
	position: relative;
}

.upper{
	text-transform: uppercase;
}

.bolder{
	font-weight: 900;
}	






/*Спецификация*/



/*1st screen*/

header{
	
	background:  url(../img/bulgaria.png) no-repeat center top/cover; 
	height: 100vh;



}

.header{
	background-color: rgba(16, 52, 73, 0.7);

}

.menu{
	padding: 24px 0 20px 0;
}

.menu__item{
	float:left;
}

.menu__item a{
	color: #f0f3f5;
	font-weight: 900;
	font-size: 0.733rem;
	border-radius: 5px;
	padding: 13px 12px;
	
	
}

.menu__item a:hover{
	background: #375e73;
	color: #fff;
	text-decoration: none;]
}

.contacts__phone{
	font-size: 1.067rem;
	color: #fff;
	background: url(../img/phone.png ) no-repeat 16% 70%;
	padding: 12px 26px 0 0;
}

.first{
	background-color: rgba(16, 52, 73, 0.4);
	height: 90vh;
}

.first__header1{
	font-size: 6.000rem;
	letter-spacing: 30px;
	color: #eaeded;
	margin-top: 204px;
}

.first__header2{
	font-size: 3.400rem;
	letter-spacing: 13px;
	color: #eaeded;
}

.first__arrow_down{
	font-size: 2.133rem;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border: 1px #fff dashed;
	border-radius: 60px;
	color: #fff;
	margin-left: 50%;
	margin-top: 173px;
	text-align: center;
}

.adv{
	background: #fff;
	font-weight: 900;
	color: #000;

}

.adv__list{
	
}

.adv__header{
	/*padding-top: 90px;*/
	font-size: 2.800rem;
	color: #000;

}

.adv__item{
	background: #f4f4f4;
	height: 358px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.adv__img{
	margin-top: 66px;
	height: 151px;
}

.adv__img_first{
	background: url(../img/Helping.png) no-repeat center center;
}

.adv__img_second{
	background: url(../img/edit.png) no-repeat center center;
}

.adv__img_third{
	background: url(../img/Conference.png) no-repeat center center;
}

.adv__title{
	letter-spacing: 3px;
	margin-top: -10px;
	font-size: 1.333rem;
}

.adv__line{
	margin: 20px auto;

	width: 36px;
	border-bottom: 1px solid #c6c6c6;
}

.adv__text{
	font-weight: 100;
	font-size: 1.133rem;
	padding: 0 20px 20px 20px;
}

